{% extends 'page_base.html' %}
{% block content %}
    <h1>About Page</h1>
    {{ request.user.is_authenticated}}
    <p>This is from pages templates</p>

    <p>
      {{ my_text|slugify }}, {{ my_number }}
    </p>

    <ul>
      <li>Item 1</li>
      <li>Item 1</li>
    </ul>

    <ul>
      {% for abc in my_list %}
        {% if abc == 55 %}
          <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
        {% elif abc == "hello" %}
          <li>{{ forloop.counter }} - {{ abc|capfirst }}</li>
        {% else %}
          <li>{{ forloop.counter }} - {{ abc }}</li>
        {% endif %}
      {% endfor %}
    </ul>

{% endblock %}
